.info {
    font-family: PoppinsMedium;
    align-content: left;
    justify-content: flex-start
  }

  .info-contacts {
    display: flex;
    flex-direction: column;
    font-family: PoppinsMedium;
    font-size: 12px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0px;
   
  }
  
  .info-links {
    display: flex;
    flex-direction: column;
    font-family: PoppinsMedium;
    font-size: 12px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0px;
  }

  .footer-content img {
    width: 70px;
    margin-left: 22px;
    grid-column: span 1;
  }
  


  .footer-content {
    width: 100%;
    height: 12vh;
  }
  